[submodule "osa03"]
	path = osa03
	url = https://github.com/Geneticanomaly/FSO-Osa-3.git
[submodule "osa08"]
	path = osa08
	url = https://github.com/Geneticanomaly/FSO-GraphQL.git
[submodule "osa09"]
	path = osa09
	url = https://github.com/Geneticanomaly/FSO-TypeScript.git
[submodule "osa10"]
	path = osa10
	url = https://github.com/Geneticanomaly/FSO-ReactNative.git
[submodule "osa11"]
	path = osa11
	url = https://github.com/Geneticanomaly/full-stack-open-pokedex.git
[submodule "osa12"]
	path = osa12
	url = https://github.com/Geneticanomaly/FSO-Containers.git
