.message {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.add {
    color: green;
}

.update {
    color: blue;
}

.delete,
.error {
    color: red;
}

.blog-content p {
    margin: 0;
}

.blog-likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog-card {
    display: flex;
    align-items: center;
    gap: 5px;
}
